body {
	background: #559fea;
	margin: 0px;
	overflow-x: hidden;
	font-family: Montserrat;
}

main {
	width: 100%;
	max-width: 800px;
	margin: auto;
	box-shadow: 0 0 16px 0;
	background: #fff;
	min-height: calc(100vh - 84px);
	padding: 42px;
}

#overlay {
	background: #fff;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	text-align: center;
	padding: 0;
	vertical-align: middle;
	line-height: 100vh;
	transition: all .4s ease-in-out;
}

#overlay.done {
	top: -100vh;
}

#searchfield {
	display: block;
	position: relative;
	width: 64%;
	max-width: 500px;
	margin: 42px auto 42px;
	border: 4px solid #000;
	padding: 8px;
	font-size: 32px;
}

p {
	width: 100%;
	text-align: center;
}

#resultlist {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: auto;
	border-collapse: collapse;
	overflow-x: auto;
}

td, th {
	border: 1px solid #dddddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
