@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Limelight);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background: #559fea;
	margin: 0px;
	overflow-x: hidden;
	font-family: Montserrat;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

footer a {
	color: #fff;
}

main {
	position: relative;
    width: 100vw;
	max-width: 800px;
	margin: auto;
	margin-top: 0;
	background: #fff;
	box-shadow: 0px 0px 16px 0px;
	min-height: 100vh;
}

footer {
	width: 100vw;
	height: auto;
	margin-left: 50%;
	background: #000;
	color: #fff;
	transform: translateX(-50%);
}

footer > section {
	max-width: 800px;
	margin: auto;
}

.content {
	padding: 42px;
	text-align: center;
}

h1 {
	margin: 0px 0px 42px;
}

/* ############################################################################################### */

.heading {
	position: relative;
	width: 100vw;
	max-width: 770px;
	background: #000;
	margin-left: 50%;
	color: #fff;
	height: 42px;
	font-size: 20px;
	transform: translateX(-50%);
	padding-left: calc((1400px - 770px)/2);
	padding-right: calc((1400px - 770px)/2);
}

.heading span {
	position: absolute;
	display: inline-block;
	padding: 10px 0px;
	text-align: center;
	white-space: nowrap;
	z-index: 3000;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 8px;
	text-align: center;
	z-index: 1000;
}

nav a {
	position: relative;
	width: auto;
	display: inline-block;
	flex-grow: 1;
	padding: 9px 0px;
	text-align: center;
	transition: all .2s ease-in-out;
	text-decoration: none;
	color: #fff;
	z-index: 2000;
}

nav a:hover, nav a:active, nav a.active {
	background: #fff;
	cursor: pointer;
	color: #000;
}

nav.stickynav {
	position: fixed;
	top: 0px;
    left: 0px;
	z-index: 2000;
}

nav.stickynav + div {
	height: 42px;
}

h2 {
	font-family: Montserrat;
}

.menu, .hamburger {
	display: none;
}

@media (max-width: 500px) {

	.heading span {
		margin-left: 0px !important;
		width: 100vw !important;
		background: #000 !important;
		color: #fff !important;
	}

	nav {
		position: relative;
		display: block;
		height: 42px !important;
		overflow: hidden;
		background: #000;
		height: auto;
		color: #fff;
		transition: all .2s ease-in-out;
	}

	nav.open {
		height: 214px !important;
		margin-bottom: -164px !important;
	}

	nav a {
		display: block;
		width: 100vw;
		background: #000;
		color: #fff;
	}

	nav a.active {
		position: absolute;
		top: 0;
		display: block;
		background: #000;
		color: #fff;
		z-index: 4000;
	}

	.menu {
		display: block;
	}

	.hamburger {
		display: block;
		position: absolute;
		color: #fff;
		z-index: 5000;
		height: 42px;
		width: 100vw;
		text-align: right;
		cursor: pointer;
	}

	.hamburger > div {
		position: absolute;
		font-size: 24px;
		height: 32px;
		width: 20px;
		top: 4px;
		right: 20px;
		transform: rotate(90deg);
		transition: all .2s ease-in-out;
	}

	nav.open .hamburger > div {
		transform: rotate(-90deg);
	}
}

/* ############################################################################################### */

#recordgallery {
	position: relative;
	width: 100%;
	z-index: 1;
}

#recordgallery > div {
	text-align: center;
}

header {
	margin: 0px;
	padding: 8px;
}

.imprint header {
	background: #000;
	color: #fff;
	height: 120px;
}

.platte {
	position: relative;
	display: inline-block;
	width: 32%;
	min-width: 230px;
	padding: 32px 0px;
	text-align: center;
	vertical-align: text-top;
	z-index: 0;
	transition: all .1s ease-in-out;
}

.platte * {
	transition: all .1s ease-in-out;
}

.platte.card {
	position: fixed;
	display: block;
	background: #fff;
	margin: 0px;
	z-index: 6000;
	text-align: left;
	vertical-align: top;
	overflow: hidden;
}

.closebtn, .platte p, .platte .vid {
	margin-bottom: 42px;
	display: none;
	opacity: 0;
}

.platte .vid {
	width: 100%;
	min-width: 0px;
	max-width: 560px;
	height: 37vw;
	max-height: 318px;
	margin-bottom: 0px;
}

.closebtn {
	position: absolute;
	top: 42px;
	right: 42px;
	margin-top: -24px;
	margin-right: -24px;
	padding: 0px 16px;
	border: none;
	background: none;
	font-size: 42px;
}

.platte.card .closebtn, .platte.card p, .platte.card .vid {
	display: block;
}

.platte.card.expanded .closebtn, .platte.card.expanded p, .platte.card.expanded .vid {
	opacity: 1;
}

.closebtn:hover {
	cursor: pointer;
	background: #eee;
}

.platte.card .cover {
	display: inline-block;
	margin-right: 42px;
	margin-bottom: 42px;
}

.platte.card .cover:after {
	left: 0px;
}

.platte.card .desc {
	display: inline-block;
	font-size: 24px;
	vertical-align: top;
	margin-bottom: 42px;
}

.desc {
	display: block;
}

.platte.card.expanded .desc {
	width: calc(100% - 210px);
	max-width: 500px;
	min-width: 160px;
}

.artist, .album {
	display: block;
}

.artist {
	font-weight: bold;
	margin: 4px;
}

.album {
	font-style: italic;
}

.cover {
	position: relative;
	height: 160px;
	width: 160px;
	margin: 0px auto 8px;
	box-shadow: 0px 0px 4px 0px;
}

.cover:after {
	position: absolute;
	content: "";
	background: #444;
	height: 160px;
	width: 160px;
	left: 16px;
	border-radius: 80px;
	z-index: -1;
	box-shadow: 0px 0px 2px 0px;
	transition: all .2s ease-in-out;
}

.platte:hover:not(.card) .cover:after {
	left: 26px;
}

.platte:hover:not(.card) {
	cursor: pointer;
	background: #eee;
}

.platte.card.expanded {
	box-shadow: 0px 0px 160px 0px;
	left: 84px !important;
	top: 84px !important;
	width: calc(100% - 252px) !important;
	height: calc(100% - 252px) !important;
	padding: 42px;
	overflow-y: auto;
}

@media (max-width: 500px) {
	.platte.card.expanded {
		left: 21px !important;
		top: 21px !important;
		width: calc(100% - 126px) !important;
		height: calc(100% - 126px) !important;
	}

	.platte .vid {
		height: 40vw;
	}
}

.bigbutton {
	text-align: center;
	background: #000;
	color: #fff;
	display: block;
	width: 80%;
	max-width: 400px;
	margin: 32px auto;
	font-size: 24px;
	padding: 20px;
	cursor: pointer;
}

/* ############################################################################################### */

#logo {
	position: relative;
	font-family: "LimeLight";
	font-weight: bold;
	font-size: 120px;
	text-align: center;
    margin: auto;
	padding-top: 50px;
	padding-bottom: 40px;
	width: calc(100% - 16px);
    height: 37vw;
	max-height: 300px;
	border: 4px solid black;
	border-radius: 16px;
}

@media (max-width: 800px) {
    #logo {
        font-size: 14vw;
    }
}

#logo .dot {
	position: absolute;
	margin: 8px;
	height: 8px;
	width: 8px;
	background: #000;
	border-radius: 4px;
}

#logo .dot.t {
	top: 0px;
}

#logo .dot.b {
	bottom: 0px;
}

#logo .dot.l {
	left: 0px;
}

#logo .dot.r {
	right: 0px;
}

/* ############################################################################################### */

#about p {
	text-align: center;
	margin-bottom: 42px;
}

.persons {
	text-align: center;
	margin-bottom: 42px;
}

.persons > div {
	width: 32%;
	min-width: 240px;
	height: auto;
	display: inline-block;
	height: auto;
}

.persons img {
	height: 80%;
	width: 80%;
	border-radius: 50%;
	margin: 20px;
}

.slider img {
	width: calc(100vw - 84px);
	max-width: 716px;
}

.slider {
	overflow-x: hidden;
}

.slider .sled {
	white-space: nowrap;
	width: auto;
	overflow: visible;
	transition: all 1.6s ease-in-out;
	font-size: 0;
}

.slider .buttons button {
	margin: 16px 0px 0px;
	background: #fff;
	border: 4px solid black;
	height: 32px;
	width: 32px;
	font-weight: bold;
	transition: all 1.6s ease-in-out;
}

.slider .buttons button.active {
	background: #000;
	color: #fff;
}

/* ######## */

#location > div > div > div {
	vertical-align: top;
	display: inline-block;
	width: calc(50% - 8px);
	min-width: 200px;
	margin-bottom: 42px;
}
